body {
    text-align: center;
}

.grid-contain {
    margin: 20px auto auto;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: 1px;
    /* background-color: gray; */
    ;
}

.grid-div {
    width: 100%;
    height: 100%;
    border: solid;
    border-width: 1px;
}

.grid-div:hover {
    background-color: #b5eda6;
}

.grid-row {
    display: flex;
    width: 100%;
    height: 100%;
}

.add-color {
    background-color: black;
}

/* *, *::before, *::after {
    box-sizing: border-box;
} */